* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: deepskyblue;
    font-family: monospace;
}

#home-button {
    box-sizing: border-box;
    position: absolute;
    top: 7%;
    left: 4%;

    padding: 0.8vw;
    color: aqua;
    background-color: black;

    border: 0.2vw solid aqua;
    border-radius: 100%;
    transition: all ease 0.5s;
}

#home-button:hover {
    transform: scale(1.1);
    color: black;
    background-color: aqua;
}

#home-button:active {
    transform: scale(0.8);
    transition: all ease 0.5s;
}

#top-heading {
    margin-top: 10%;
    margin-left: -30%;

    #hello-their {
        margin-left: -10%;
    }
}

#form-div {
    margin-top: 5%;
    margin-left: -10%;

    #label {
        margin-left: -7%;
    }

    #password {
        padding: 1%;
        padding-top: 2%;

        border: none;
        border-bottom: 0.2vw solid;
        width: 20%;

        transition: all ease 0.3s;
        font-family: monospace;


        background-color: transparent;
    }

    #password::placeholder {
        color: black;
    }

    #password:hover::placeholder {
        transform: translateY(-30%);
        transition: all ease 0.5s;
    }

    #password:focus {
        outline: none;
        transition: all ease 0.3s;
        border-bottom: 0.2vw solid aqua;
        color: aqua;
    }

    #password:focus::placeholder {
        transform: translateY(-120%);
        transition: all ease 0.3s;
    }

    #submit {
        padding: 0.5%;
        border-radius: 0.5vw;
        transition: all ease 0.5s;
        border: none;
        font-family: monospace;
    }

    #submit:hover {
        border-radius: 3vw;
        cursor: pointer;

        transform: translateY(-5px);

        background-color: aqua;
    }

    #submit:active {
        transform: scale(0.8);
    }
}